* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

header {
  background-color: #000;
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

.navbar {
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-branding img {
  color: white;
  width: 120px;
  padding: 10px;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 0;
}

.nav-link {
  justify-content: center;
  list-style: none;
  transition: 0.3s ease-out;
  color: white !important;
}
.seperator {
  display: inline-block;
  height: 16px;
  width: 1px;
  background-color: white;
  margin: auto 17px;
}

.nav-link:hover {
  color: rgb(47, 173, 15) !important;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: white;
}
.container-fluid {
  width: 100%;
}

.banner {
  background-color: #96f0b6;
  display: grid;
  /* justify-content: center; */
  /* align-items: center; */

  color: #202f72;
}

.banner h4 {
  font-weight: bold;
  font-size: 0.8rem;
  margin-top: 80px;
  margin-bottom: 50px;
  margin-left: 40px;
}
.banner h1 {
  font-weight: bolder;
  font-size: 3rem;
  margin-left: 40px;

  margin-bottom: 40px;
}
.banner h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  margin-left: 40px;
}

.get_button {
  color: #96f0b6;
  background-color: #202f72;
  padding: 14px;
  margin-bottom: 30px;
  text-transform: uppercase;
  border: none;
  border-radius: 50px;
  font-weight: bold;
  cursor: pointer;
  width: fit-content;
  margin-left: 40px;
}
.get_button:hover {
  transform: scale(1.05);
}
.banner h6 {
  font-size: 12px;
  margin-bottom: 50px;
  margin-left: 40px;
}
.banner_img1 {
  padding-left: 0 !important;
  padding-right: 0 !important;

  background-color: #96f0b6;
}
.banner_img {
  /* margin-left: 1rem; */
  margin-top: 90px;
  width: 24rem;
  height: 25rem;
  padding: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 0 !important;
}

.banner2 {
  background-color: #f46ebe;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 60px;
  color: #202f72;
}
.banner2 h4 {
  font-weight: bold;
  font-size: 0.9rem;
  margin-top: 55px;
  margin-bottom: 60px;
}
.banner2 h1 {
  font-weight: bolder;
  font-size: 3.5rem;
  margin-bottom: 40px;
}
.banner2 h2 {
  margin-bottom: 30px;
}

.banner2 h6 {
  margin-bottom: 40px;
  font-size: medium;
  cursor: pointer;
}
.badge1 {
  width: 150px;
  cursor: pointer;
}
.badge2 {
  width: 135px;
  cursor: pointer;
}
.banner2_image {
  width: 100%;
  margin-right: -100px;
  position: absolute;
}
.banner3 {
  object-fit: cover;
}
.banner3_image {
  display: flex;

  margin-left: 100px;
  width: 500px;
  height: 600px;
}
.banner3 {
  background-color: #2941ab;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 60px;
  color: #1ed760;
  
}
.content{
  margin-left: 40px;
}

.banner3 h4 {
  font-weight: bold;
  font-size: 0.9rem;
  margin-top: 20px;
  margin-bottom: 50px;
}
.banner3 h1 {
  font-weight: bolder;
  font-size: 3.5rem;

  margin-bottom: 40px;
}
.banner3 h2 {
  margin-bottom: 50px;
}

.get_button2 {
  color: #2941ab;
  background-color: #1ed760;

  margin-bottom: 170px;
  padding: 15px 20px;
  text-transform: uppercase;
  border: none;
  border-radius: 50px;
  font-weight: bold;
  cursor: pointer;
}

.get_button2:hover {
  transform: scale(1.05);
}

footer {
  background-color: black;
}
.footer1 {
  padding-top: 70px;
  display: flex;
  justify-content: start;
  align-items: flex-start;
}
.logo2 {
  width: 130px;
  margin-left: 60px;
}

.footer1 {
  display: flex;
}
.footer_content {
  display: flex;
}

.footer_items ul {
  color: white;
  font-size: 0.9rem;
  list-style: none;
  margin-left: 30px;
}

.footer_items li {
  padding-bottom: 20px;
}
.foot_head {
  color: grey;
  font-weight: bold;
  margin-top: 15px;
}
.footer_list:hover {
  cursor: pointer;
  color: greenyellow;
}

.social_icons {
  display: flex;
  padding-left: 100px;
}
.icon_card {
  background-color: rgb(51, 46, 46);
  margin: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}
i {
  font-size: 1.7rem;
  color: white;
  cursor: pointer;
}
i:hover {
  color: greenyellow;
}

.footer2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer2_content ul {
  display: flex;
  color: grey;
  list-style: none;
  font-size: 0.8rem;
  font-weight: bold;
  flex-wrap: wrap;
  margin: 40px;
}
.footer2_content li {
  margin-right: 25px;
  cursor: pointer;
}
.footer2_content li:hover {
  color: greenyellow;
}

.footer2_right h4 {
  font-size: 0.8rem;
  color: grey;
  margin: 40px;
}

.logo_3 {
  display: none;
}

@media (max-width: 993px) {
  .hamburger {
    
    display: block;
    margin: 0 10px;
    
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(-45deg);
    position: sticky;
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(45deg);
    position: sticky;
  }
  .container-fluid .first_row {
    /* position: relative; */
    background-color: #96f0b6;
  }
  .img3 {
    display: flex;
    justify-content: center;
  }

  .nav-menu {
    position: fixed;
    right: -100%;
    top: 0;
    gap: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: black;
    width: 100%;
    height: 100vh;
    transition: 0.3s;
    padding: 0 !important;
    padding-top: 20px !important;
    padding-left: 0px !important;
  }

  .ft {
    font-size: 2rem;
    font-weight: bold;
    margin: 0 !important;
  }

  .sep {
    margin: 0 !important;
  }

  .auth {
    font-size: 1.3rem;
    font-weight: bold;
    margin: 0 !important;
  }

  .logo_3 {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
  }

  .navbar {
    padding: 0 !important;
  }

  .nav-item {
    margin: 16px;
  }

  .nav-menu.active {
    right: 0;
  }
  .seperator {
    display: inline-block;
    height: 1px;
    width: 16px;
    background-color: white;
    /* margin: auto 17px; */
  }
  .banner {
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .banner h4{
    margin-left: 0;
  }
  .banner h1 {
    font-weight: bolder;
    font-size: 2rem;
    margin-left: 0;
  }
  .banner h2 {
    font-size: 1rem;
    margin-left: 0;
    margin-left: 0;
  }
  .get_button{
    margin-left: 0;
  }
  .banner h6{
    margin-left: 0;

  }

  .banner_img1 {
    /* position: relative; */
    background-color: #96f0b6;
  }
  .banner_img {
    margin-top: 0;
    width: 45%;
  }
  .content{
    margin-left: 0;
  }
  .banner2 {
    display: grid;
    justify-content: center;
    text-align: center;
  }

  .banner2 h1 {
    font-weight: bolder;
    font-size: 2rem;
    margin-bottom: 40px;
  }
  .banner2 h2 {
    font-size: 1rem;
  }
  .banner3 {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .banner3 h1 {
    font-weight: bolder;
    font-size: 2rem;
    margin-bottom: 40px;
  }
  .banner3 h2 {
    font-size: 1rem;
  }

  /* .footer1 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer_content {
    flex-direction: column;
  } */

  .first{
    /* margin-left: 3rem; */
    margin-left: 3rem;
  }
}
